header{
  height: 200px;
  background: url(aesop_images/white_texture_background.jpg);
  background-size: cover;
}
header h1{
  property: value;
  font-family: 'Times New Roman'
}
header h2{
  property: value;
  font-family: 'Times New Roman'
}
h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 72px;
  color: firebrick;
  text-align: center;
}
h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  color:darkblue;
text-align: center;
}
h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color:black;
  text-align: center;
}
img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.border-box{
  width: 400px;
  background: whitesmoke;
  padding: 20px;
  border: 5px solid black;
  margin: 20px;
  text-align: center;
  border-radius: 30%;
}
footer{
  background-color: rgb(134,173,247);
  margin: 100px 0 0 0;
  padding: 1px 0;
}
main{
  background-color: rgb(218,216,216);
}
img{
  border: 10px;
  border-style: solid;
  border-color: firebrick;
}